.card.mb-4.shadow-sm
  .card-header
    %h4.my-0.font-weight-normal=child.name
  .list-group
    - child.jobs.unpaid.group(:job_type_id).count.each do |job_type_id, count|
      .list-group-item.d-flex.justify-content-between.align-items-center
        = JobType.find(job_type_id).name
        %span.badge.badge-primary.badge-pill= count
    .list-group-item
      - @job = Job.new
      = form_for(@job) do |f|
        .form-group
          = f.collection_select :job_type_id, JobType.all, :id, :name, { include_blank: true }, { class: 'form-control' } 
          = f.hidden_field :user_id, value: child.id
          %br
          .text-right
            %button.btn.btn-primary{ type: "submit" }Add a job
          - @payday = Payday.new
