.container-fluid.mt-3
  .row
    - if defined? @child
      .col-md-6.offset-md-3
        .card.mb-4.shadow-sm
          .card-header.d-flex.justify-content-between
            %h4.my-1
              =@child.name
            .btn-group
              %a.btn.btn-outline-primary{ href: user_bank_items_path(@child) }
                %i.fas.fa-coins
              .btn.btn-outline-primary.active
                %i.fas.fa-broom
          .list-group
            = render 'jobs/jobs', child: @child 
            = render 'jobs/add_a_job', child: @child
            = render 'jobs/progress_and_bank', child: @child
    -else
      - @children.each do |child|
        .col-md-4
          .card.mb-4.shadow-sm
            .card-header
              %h4.my-0.font-weight-normal= child.name
            .list-group
              = render 'jobs', child: child 
              = render 'add_a_job', child: child
              = render 'progress_and_bank', child: child


