.container
  .text-center
    .h2.mb-4.mt-3 Pocket Jobs
  .row
    - User.children.each do |child|
      .col-md-4
        = render 'jobs_card', child: child 
  .row
    - User.children.each do |child|
      .col-md-4
        .card.mb-4.shadow-sm
          .list-group

            .list-group-item
              .progress
                .progress-bar.progress-bar-striped{ role: "progressbar", style: "width: #{child.percent_completed}%"}
            .list-group-item
              .d-flex.justify-content-between
                %div
                  #{child.jobs_completed} out of #{child.target_jobs} 
                  &#61;
                  %strong &pound;#{child.unpaid_job_value}
                %div
                  = form_for(@payday) do |f|
                    = f.hidden_field :user_id, value: child.id
                    %button.btn.btn-warning{ type: "submit" } Bank

