.container-fluid.mt-3
  .row
    .col-md-6.offset-md-3
      .card.mb-4.shadow-sm
        .card-body
          %h3= @direction == '-1' ? 'Remove Money' : 'Add Money'
          =form_for([@user, @bank_item]) do |f|
            .form-group
              %lable{ for: 'user_name' }= @direction == '-1' ? 'From Account' : 'To Account'
              = f.hidden_field :user_id
              = hidden_field_tag :direction, @direction
              = text_field_tag :user_name, @user.name, disabled: true, class: 'form-control'
            .form-group
              %label{ for: 'bank_item_description' }Description
              = f.text_field :description, class: 'form-control'

            .form-group
              %label{ for: 'bank_item_amount'} Amount
              =f.text_field :amount, class: 'form-control'

              =f.submit "Save", class: 'btn btn-primary mt-3'



